.App{
  height: 100%;
}

.container{
  padding-top: 5%;
  height: 100%;
  transform: translateY(-1rem);
}

.card{
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right top, rgba(228, 222, 222, 0.767),rgba(26, 15, 235, 0.589));
  width: 35rem;
  padding: 2rem 3rem 3rem 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 15px black;
}

.verification-container{
  margin: 0 auto;
  width: 70%;
}

.loader-container{
  padding-top: 20%;
}

.load-picture-button{
  padding: 2.8rem 0 0 2rem;
  margin-left: 1rem;
}

.textarea-resize {
  resize: none !important;
}

.poruci-btn{
  padding-bottom: 10%;
}

.buttons-flex{
  display: flex;
  justify-content:space-between;
}
